@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* =========================
   CHAT WINDOW
========================= */

.chat-window {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/* =========================
   HEADER
========================= */

.chat-header {
  height: 70px;
  background: #1a1c3e;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  border-bottom: 1px solid #2a2d4a;
  color: #fff;
}

.username {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.online-indicator {
  color: #8d8fa6;
  font-size: 12px;
}


/* =========================
   CHAT BODY
========================= */

.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: radial-gradient(circle at 30% 20%,
      #1a1c3e 0%,
      #0f1024 60%,
      #0b0c1e 100%);
  overflow-x: hidden;
}


/* =========================
   MESSAGE WRAPPERS
========================= */
/* 
.sent-message-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */


.sent-message-wrapper {
  width: fit-content;
  margin-left: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-bottom: 15px;
}

.received-message-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}


/* =========================
   MESSAGE BUBBLES
========================= */

.sent {
  position: relative;
  background: #7758f9;
  color: #fff;
  width: fit-content;
  padding: 12px;
  border-radius: 12px 12px 0 12px;
}

.received {
  position: relative;
  background: #2a2d4a;
  color: #fff;
  width: fit-content;
  padding: 12px;
  border-radius: 12px 12px 12px 0;
}


/* =========================
   MESSAGE MENU - SENDER
========================= */

.sent-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-right: 5px;
}

.sent-menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
  color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.15s ease;
}

.sent-message-wrapper:hover .sent-menu-btn {
  opacity: 0.7;
  visibility: visible;
  pointer-events: auto;
}

.sent-menu-btn:hover {
  opacity: 1;
}

.sent-menu-dropdown {
  position: absolute;
  top: 25px;
  right: 0;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  z-index: 10;

  display: flex;
  flex-direction: column;

  min-width: 160px;
}

.sent-menu-dropdown button {
  background: none;
  border: none;
  text-align: left;

  padding: 8px 12px;

  font-size: 13px;
  cursor: pointer;
}

.sent-menu-dropdown button:hover {
  background: #f2f2f2;
}


/* =========================
   MESSAGE MENU - RECEIVER
========================= */
.received-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-left: 5px;
}

.received-menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
  color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.15s ease;
}

.received-message-wrapper:hover .received-menu-btn {
  opacity: 0.7;
  visibility: visible;
  pointer-events: auto;
}

.received-menu-btn:hover {
  opacity: 1;
}

.received-menu-dropdown {
  position: absolute;
  top: 25px;
  left: 0;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  z-index: 10;

  display: flex;
  flex-direction: column;

  min-width: 160px;
}

.received-menu-dropdown button {
  background: none;
  border: none;
  text-align: left;

  padding: 8px 12px;

  font-size: 13px;
  cursor: pointer;
}

.received-menu-dropdown button:hover {
  background: #f2f2f2;
}


/* =========================
   SEEN / DELIVERED
========================= */

.seen-status {
  display: inline-block;

  font-size: 11px;
  font-weight: 600;

  letter-spacing: -2px;
  margin-left: 5px;

  line-height: 1;
}

.seen-status.delivered {
  color: #8696a0;
}

.seen-status.seen {
  color: #fff;
}


/* =========================
   DELETED MESSAGE
========================= */

.deleted-msg {
  font-style: italic;
  opacity: 0.6;
}

.sent-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  width: fit-content;
}

.received-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  width: fit-content;
}


/* =========================
   TYPING INDICATOR
========================= */

.typing-indicator {
  display: flex;
  align-items: center;
  gap: 4px;

  width: fit-content;
  padding: 20px 12px;
}

.typing-indicator .dot {
  width: 6px;
  height: 6px;

  background-color: #999;
  border-radius: 50%;

  animation: typingBounce 1.2s infinite ease-in-out;
}

.typing-indicator .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator .dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typingBounce {

  0%,
  60%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }

  30% {
    transform: translateY(-4px);
    opacity: 1;
  }
}


/* =========================
   MESSAGE BOX
========================= */

.message-box {
  width: 100%;
  max-width: 700px;

  background: #1a1c3e;

  border-radius: 12px;

  padding: 12px 16px;

  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);

  margin: 0 auto 20px;
}

.message-input {
  width: 100%;

  border: none;
  outline: none;

  font-size: 15px;

  margin-bottom: 12px;

  background: transparent;
  color: #fff;
}


/* =========================
   MESSAGE FOOTER
========================= */

.message-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.left-icons svg {
  width: 18px;
  height: 18px;

  color: #8d8fa6;

  cursor: pointer;

  transition: 0.2s;
}

.left-icons svg:hover {
  color: #7758f9;
}

.send-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 18px;

  border: none;
  border-radius: 8px;

  background: #7758f9;
  color: white;

  cursor: pointer;

  font-size: 14px;

  transition: 0.2s;
}

.send-btn:hover {
  background: #6747d8;
}


/* =========================
   EMPTY CHAT
========================= */

.empty-chat {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  color: #fff;
}

.chat-logo {
  background-image: url('../../assets/chat.png');

  height: 300px;
  width: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.empty-chat h2 {
  font-size: 17px;
  color: #fff;
}


/* =========================
   SCROLLBAR
========================= */

.chat-body::-webkit-scrollbar {
  width: 8px;
}

.chat-body::-webkit-scrollbar-track {
  background: #0f1024;
  border-radius: 4px;
}

.chat-body::-webkit-scrollbar-thumb {
  background: #7758f9;
  border-radius: 4px;
}

.chat-body::-webkit-scrollbar-thumb:hover {
  background: #6747d8;
}


/* Firefox */

.chat-body {
  scrollbar-width: thin;
  scrollbar-color: #7758f9 #0f1024;
}




.reply-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  margin-bottom: 10px;

  background: #1f1f1f;
  border-left: 4px solid #7758f9;
  border-radius: 8px;
}

.reply-title {
  color: #7758f9;
  font-size: 12px;
  font-weight: 600;
}

.reply-preview-text {
  margin: 0;
  color: white;
  font-size: 13px;
}

.reply-close {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.reply-inside-message {
  background: rgba(255, 255, 255, .1);

  padding: 6px 8px;
  margin-bottom: 6px;

  border-radius: 6px;

  font-size: 12px;
  opacity: .9;

  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reply-inside-message span {
  border-left: 3px solid #7758f9;
}



.reaction-btn {
  border: none;
  background: none;
  color: white;
}

.reaction-panel {
  position: absolute;

  display: flex;
  gap: 6px;

  background: #232323;

  padding: 8px 12px;

  border-radius: 20px;

  z-index: 999;
}

.reaction-panel button {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.reaction-display {
  display: flex;
  gap: 4px;

  margin-top: 4px;
}

.reaction-item {
  background: #2d2d2d;
  padding: 2px 6px;
  border-radius: 12px;
}

.reaction-btn {
  opacity: 0;
  transition: .2s;
}

.sent-message-wrapper:hover .reaction-btn {
  opacity: 1;
}

.received-message-wrapper:hover .reaction-btn {
  opacity: 1;
}


.reaction-btn,
.sent-menu-btn,
.received-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}